.category{
    width: 150px;
    height: auto;
    aspect-ratio: 9/11;
    background-color: rgb(46, 194, 16);
    flex-shrink: 0;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(29, 28, 28, 0.7),rgba(20, 19, 19, 0.884)), var(--bg-image);;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 6px;
    color: rgb(170, 44, 44);
    font-size: 20px;
    position: relative;
    align-items: left;
}
.category h4{
    position: absolute;
    bottom: 55px;
    font-size: 20px;
    margin-left: 10px;
}
.category p{
    position: absolute;
    bottom: 25px;
    color:white;
    margin-left: 12px;
    font-size: 16px;
    padding: 1px 7px;
    border-radius: 4px;
    background-color: green;
    transition: all 0.3s;
}
.category p:hover{
    transform: scale(1.02);
}